.add-question-button {
    border: 0;
    border-radius: 8px;
    background: #FF5617;
    height: 50px;
    width: 200px;
    margin-right: 120px;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s;
}

.add-question-button span {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.add-question-button .plusIcon {
    color: white;
}

.add-question-button:hover {
    background: #e46334;
}

.add-question-button-secundary {
    border: 0;
    border-radius: 8px;
    background: #f0f0f0;
    height: 50px;
    width: 200px;
    margin-right: 120px;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s;
}

.add-question-button-secundary:hover {
    background: #c2c1c1;
}

.add-question-button-secundary span {
    font-size: 20px;
    font-weight: bold;
    color: #FF5617;
}

.add-question-button-secundary .plusIcon {
    color: #FF5617;
}

.dialog-container .dialog-title {
    background: #f0f0f0;
}

.dialog-container .dialog-content {
    height: 300px;
    background: #f0f0f0;
}

.dialog-container .dialog-actions {
    background: #f0f0f0;
}

.dialog-container .input-group {
    display: flex;
    flex-direction: column;
}

.dialog-container .subject-input {
    height: 50px;
    color: #444;
    border: 0;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
    outline: none;
}

.dialog-container .dialog-content .content-input {
    margin-top: 30px;
    color: #444;
    border: 0;
    padding: 0 35px;
    border-radius: 8px;
    outline: none;
    height: 140px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.dialog-container .dialog-actions {
    display: flex;
    justify-content: space-between;
}

.dialog-container .dialog-actions .cancelButton {
    margin-left: 20px;
    width: 150px;
}

.dialog-container .dialog-actions .submitButton {
    margin-right: 20px;
    background: #FF5617;
    width: 150px;
}

.toastcontainer {
    background: linear-gradient(to right, #FF5617, #f18056);
    text-align: center;
}